<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<h1>Pedido realizado</h1>
			<p><%= link_to "Volver", root_path, class: "btn btn-primary" %></p>
		</div>
	</div>
</div>